NODE_ENV=development
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.z80mr.mongodb.net/<Collection Name>?appName=Cluster0"
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@app.com
ADMIN_PASSWORD=admin
USER_USERNAME=user
USER_EMAIL=user@app.com
USER_PASSWORD=user
JWT_SECRET= <Random 64 Bit String>
GOOGLE_CLIENT_ID= <Provided from "https://console.developers.google.com/apis/credentials">
GOOGLE_CLIENT_SECRET= <Provided from "https://console.developers.google.com/apis/credentials">
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= <Random 64 Bit String>