NODE_ENV=development
MONGODB_URI="mongodb+srv://<mename>:<password>@cluster0.z80mr.mongodb.net/<Collection Name>?appName=Cluster0"
ADMIN_meNAme=admin
ADMIN_EMAIL=admin@app.com
ADMIN_PASSWORD=admin
me_meNAme=me
me_EMAIL=me@app.com
me_PASSWORD=me
JWT_SECRET= <Random 64 Bit String>
GOOGLE_CLIENT_ID= <Provided from "https://console.developers.google.com/apis/credentials">
GOOGLE_CLIENT_SECRET= <Provided from "https://console.developers.google.com/apis/credentials">
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= <Random 64 Bit String>